.operat-input>div{
	display: inline-flex;
}
.operat-input{
	padding-bottom: 20px;
}
div.number-input{
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
input{
	display: inline-block;
	width:80px;
	margin: 6px;
}
label{
	padding: 6px;
}
.st-calculator{
	display: flex;
	width: 700px;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
   align-items: center;
	background: #F2F2F2;
}
button{
	height: 30px;
	width: 30px;
	margin: 10px;
	background: #7F687D;
	border-radius: 50%;
	border: 1px solid #7F687D;
}
.operator-block{
	padding: 20px 0px;
}